/* Color Palette
$color1: rgba(50, 48, 49, 1); #323031 darkest gray
$color2: rgba(61, 59, 60, 1); #3d3b3c dark gray
$color3: rgba(127, 121, 121, 1); #7f7979 light gray
$color4: rgba(193, 189, 179, 1); #c1bdb3 extra light gray
$color5: rgba(95, 91, 107, 1); #5f5b6b Purple

#f7fff7 - almost white
#343434 - dark gray
#2f3061 - dark blue
#ffe66d - yellow
#a1c6d7 - light blue


New colors:

    003366
    blue
    midnight blue

    CCCCCC
    gray
    grey
    silver

    FFCC00
    orange yellow
    tangerine

Latest Colors:
Dark Gray #333333
Yellow: #FFCC00
Green: #669966
fushshia: #993366
*/

/* Global styles
_______________________________________ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #669966;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
  color: #FFCC00;
}

h2 {
  font-size: 45px;
}

h1, h2 {
  text-shadow: 0px 2px 3px #555;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 850px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #CCC;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* ABOUT / PROFILE
_______________________________________ */
header {
  background-color: #993366;
  color: #CCC;
}
header p {
  font-size: 20px;
}

/* NAV
_______________________________________ */

nav ul {
  text-align: center;
  list-style: none;
}

nav ul li {
  font: bold 16px sans-serif;
  color: #993366;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  background: white;
  cursor: pointer;
}

nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: -10000px;
  width: 150px;
}

nav ul li ul li {
  background: rgb(255,255,255, 0.8);
  display: block;
  color: #993366;
  text-align: left;
  font-size: 12px;
}


nav ul li ul li:hover {
color: #993366
  }

nav ul li:hover ul {
 display: block;
 left :0px;
 }


/* PROJECTS / PORTFOLIO
_______________________________________ */

.projects a {
  text-decoration: none;
  color: #993366;
}
.projects .btn {
  color: #F7FFF7;
  background: #993366;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: #669966;
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}

/* WORK EXPERIENCE
_______________________________________ */
.work-experience {
  background-color: #CCC;
}
.work-experience a {
    color: #993366;
  text-decoration: none;
}

/* EDUCATION & CERTIFICATIONS
_______________________________________ */
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}


/* CONTACT FORM
_______________________________________ */

.contact-form {
	line-height: 1.4;
}
.form-group {
	background: #CCC;
	margin: 1em auto;
	padding: 20px;
}
.form-group ul {
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
}
.form-group li {
	margin-bottom: 0.5em;
}

.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="url"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}
.form-fields input[type="text"]:focus,
.form-fields input[type="tel"]:focus,
.form-fields input[type="url"]:focus,
.form-fields input[type="email"]:focus,
.form-fields input[type="number"]:focus,
.form-message textarea:focus,
.form-fields select:focus {
  color: #333;
  border: 1px solid #C17CCF;
  outline: none;
  background: #f2f2f2;
}
.form-message textarea {
    display: block;
    box-sizing: border-box;
    font: 0.9em 'Open Sans', sans-serif;
    width: 90%;
    height: 6em;
    overflow: auto;
    padding: 0.6em 0.8em;
    color: #999;
    background: #f7f7f7;
    border: 1px solid #e1e1e1;
    line-height: normal;
}
.submit-btn {
	border-radius: 0px 2px 2px 0px;
	box-sizing: content-box;
	background: #993366;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 1.1em;
	text-decoration: none;
	cursor: pointer;	
}
.submit-btn:hover, .submit-btn:focus {
	background: #669966;
}

/* CONTACT FORM FLEX CODE
_______________________________________ */
.register-form {
	display: flex;
	flex-wrap: wrap;
	margin-right: -2em;
}
.form-group {
	flex: 1 0 300px;
}
.form-submit {
	flex: 0 0 100%;
}
.form-fields li {
	display: flex;
	flex-wrap: wrap;
}
.form-fields input[type="text"],
.form-fields input[type="tel"],
.form-fields input[type="url"],
.form-fields input[type="email"],
.form-fields input[type="number"],
.form-fields select {
	flex: 1 0 230px;
}
.form-fields label {
	flex: 1 0 90px;
	max-width: 200px;
}



/* CONTACT INFO / SOCIAL MEDIA
_______________________________________ */
footer {
  background: #333333;
  color: #F7FFF7;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}


/* Responsive
_______________________________________ */
@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}


